<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [mode]="isWeb ? 'side' : 'over'" [opened]="isWeb">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-action-list>
            <button mat-list-item routerLink="/rooms" routerLinkActive="active" (click)="navigate()">Rooms</button>
            <button mat-list-item routerLink="/teams" routerLinkActive="active" selected="true" (click)="navigate()">Teams</button>
            <button mat-list-item routerLink="/profile" routerLinkActive="active" (click)="navigate()">Profile</button>
            <button mat-list-item routerLink="/contact" routerLinkActive="active" (click)="navigate()">Contact</button>
            <button mat-list-item routerLink="/login" routerLinkActive="active" (click)="navigate()">Login</button>
        </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row class="main-header">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="!isWeb">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span class="logo">
                    <h1 class="mat-h1">BugTracker <mat-icon>my_location</mat-icon></h1>
                </span>
                <span class="spacer"></span>
                <div>
                    <button mat-button routerLink=".">Link</button>
                    <button mat-button routerLink=".">Link</button>
                    <button mat-button routerLink=".">Link</button>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row class="sub-header">
                <span class="spacer"></span>
                <h2>{{pageName}}</h2>
                <span class="spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>