.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.spacer {
    flex: 1 1 auto;
}

.main-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
    background-color: #3F51B5;
    position: fixed;
    z-index: 100;
}

.nav-button {
    display: block;
    width: 100%;
}

.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.sub-header {
    margin-top: 55px;
}

mat-toolbar-row {
    height: 55px;
}

main {
    padding: 10px;
    height: calc(100% - 130px);
}