.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.spacer {
    flex: 1 1 auto;
}

.main-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4);
}

.nav-button {
    display: block;
    width: 100%;
}