<div class="container">
    <mat-card [ngClass]="isWeb ? 'card-web' : 'card-mobile'" *ngFor="let room of rooms">
        <mat-card-title>
            {{room.room_name}}
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            {{'Team: ' + room.team_name}}
        </mat-card-subtitle>
        <mat-card-content>
            <app-chart [room_id]="room.room_id.toString()"></app-chart>
        </mat-card-content>
        <mat-card-actions class="control-container">
            <button mat-flat-button color="warn" (click)="deleteRoom(room.room_id)">Delete</button>
            <button mat-flat-button color="primary" (click)="enterRoom(room.room_id)">Enter the room</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="form-card">
        <app-form></app-form>
    </mat-card>
</div>