.container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

.container-web {
    flex-direction: row;
}

.container-mobile {
    flex-direction: column;
}

.component {
    z-index: 0;
}

.component-mobile {
    margin-top: 10px;
}

.component-web {
    margin: 40px;
    flex-grow: 1;
}