<div class="container">

    <mat-accordion class="list">
        <h2>To Do</h2>
        <mat-expansion-panel *ngFor="let ticket of toDoTickets">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ticket.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>{{ticket.content}}</div>
            <div class="controls-container">
                <button mat-flat-button (click)="setToInProgress(ticket)" color="primary">Set to in progress</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="list">
        <h2>To Do</h2>
        <mat-expansion-panel *ngFor="let ticket of inProgressTickets">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ticket.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>{{ticket.content}}</div>
            <div class="controls-container">
                <button mat-flat-button (click)="setToInProgress(ticket)" color="primary">Set to in progress</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="list">
        <h2>To Do</h2>
        <mat-expansion-panel *ngFor="let ticket of doneTickets">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ticket.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div>{{ticket.content}}</div>
            <div class="controls-container">
                <button mat-flat-button (click)="setToInProgress(ticket)" color="primary">Set to in progress</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>